recursive-include src *.py *.typed
recursive-include src/kinder/envs *.xml *.obj *.mtl *.stl *.urdf *.png *.jpg *.jpeg *.json
include pyproject.toml README.md LICENSE
recursive-include requirements *.txt
prune demos
prune docs
prune tests
prune notebooks
prune scripts
prune pylint_plugins
prune src/kinder/envs/dynamic3d/models/assets/mimiclabs_scenes
prune src/kinder/envs/dynamic3d/models/assets/.tmp
prune src/kinder/envs/dynamic3d/models/assets/__MACOSX
